<!--Ariel Chau Zhou
    COMP229 008 
    2022 Fall semester 
    Portafolio Project 
    #301151530   
    2022/10/11   -->
    <script src="/Scripts/app.js"></script>
<footer>
    <hr>
    <p>&copy; Copyright - COMP 229 - Fall Semester 2022 - Ariel Chau - Centennial College</p>
  </footer>
</body>
</html> 