<!DOCTYPE html>
<html>
  <head>
    <title>My Portafolio</title>
    <link rel="icon" href="images/hand.png" type="image/icon">
    <script src="https://kit.fontawesome.com/2ae6085b03.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
