<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/2ae6085b03.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
  </head>
  <body>

    <nav>
      <ul>
<<<<<<< HEAD
<<<<<<< HEAD
        <li><a href="index"><i class="fa-solid fa-house"></i>Home</a></li> <br>
        <!--<a href="about"><i class="fa-solid fa-address-card"></i>About</a></li>--><br>
        <li><a href="aboutme"><i class="fa-solid fa-id-badge"></i>About Me</a></li> <br>
        <li><a href="contact"><i class="fa-solid fa-message"></i>Contact</a></li><br>
        <li><a href="projectpage"><i class="fa-solid fa-diagram-project"></i>Projects</a></li> <br>
        <li><a href="service"><i class="fa-solid fa-brands fa-servicestack"></i>Services</a></li> <br>
        hello
=======
=======
>>>>>>> fabd492075145ee1b346d9f1972bfb342c640e6f
        <img class="logo" src="images/Logo.png" alt="logo photo">
        <li><a class="home" href="index"><i class="fa-solid fa-house"></i>Home</a></li> 
        <!--<a href="about"><i class="fa-solid fa-address-card"></i>About</a></li>-->
        <li><a href="aboutme"><i class="fa-solid fa-id-badge"></i>About Me</a></li> 
        <li><a href="contact"><i class="fa-solid fa-message"></i>Contact</a></li>
        <li><a href="projectpage"><i class="fa-solid fa-diagram-project"></i>Projects</a></li>
        <li><a href="service"><i class="fa-solid fa-brands fa-servicestack"></i>Services</a></li>
<<<<<<< HEAD
>>>>>>> fabd492075145ee1b346d9f1972bfb342c640e6f
=======
>>>>>>> fabd492075145ee1b346d9f1972bfb342c640e6f
        
      </ul>
    </nav>
    <hr>
    <main>
      <div id="main-section">
        <p>Hi, I'm <span id="color"> Ariel Chau.</span></p>
        <p id="welcoming">Welcome to my <span id="color">portafolio!</span> </p>
        <p>My mission is to create custom websites that are <span id="color">dynamic, fun, and diverse </span>for everyone.</p>
        <button><a href="aboutme">Learn more</a></button>

      </div>
    </main>
    <footer>
      <hr>
      <p>&copy; Copyright - COMP 229 - Fall Semester 2022 - Ariel Chau</p>
    </footer>
  </body>
</html>
