<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://kit.fontawesome.com/2ae6085b03.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index"><i class="fa-solid fa-house"></i>Home</a></li> <br>
        <!--<a href="about"><i class="fa-solid fa-address-card"></i>About</a></li>--><br>
        <li><a href="aboutme"><i class="fa-solid fa-id-badge"></i>About Me</a></li> <br>
        <li><a href="contact"><i class="fa-solid fa-message"></i>Contact</a></li><br>
        <li><a href="projectpage"><i class="fa-solid fa-diagram-project"></i>Projects</a></li> <br>
        <li><a href="service"><i class="fa-solid fa-brands fa-servicestack"></i>Services</a></li> <br>
        
      </ul>
    </nav>
    <hr>

    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <h2>Hello new window baby</h2>
    
    
    </main>

    <footer>
    </footer>
    
    
  </body>
</html>
