<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Hello new window baby</h2>
    <a href="about">Send me to home page</a>
    <a href="index">Send me to home page</a>
    <a href="about">Send me to About page</a>
    <a href="aboutme">Send me to About me page</a>
    <a href="contact">Send me to contact page</a>
    <a href="projectpage">Send me project page</a>
    <a href="service">Send me to service page</a>
    <h2>Alohhhhh</h2>
    <h3>alooh in small</h3>
  </body>
</html>
