<!--Ariel Chau Zhou
    COMP229 
    2022 Fall semester 
    Portafolio Project 
    #301151530      -->


<%- include partials/header.ejs%>

    <link rel='stylesheet' href='/stylesheets/style4.css' />
   
  </head>
  <body>

    <nav>
      <ul>
        <img class="logo" src="images/Logo.png" alt="logo photo">
        <li><a href="index"><i class="fa-solid fa-house"></i>Home</a></li> 
        <!--<a href="about"><i class="fa-solid fa-address-card"></i>About</a></li>-->
        <li><a href="aboutme"><i class="fa-solid fa-id-badge"></i>About Me</a></li> 
        <li><a href="projectpage"><i class="fa-solid fa-diagram-project"></i>Projects</a></li>
        <li><a  class="home" href="service"><i class="fa-solid fa-brands fa-servicestack"></i>Services</a></li> 
        <li><a href="contact"><i class="fa-solid fa-message"></i>Contact</a></li>     
      </ul>
    </nav>
    <hr>
    <main>

        <div id="myWork">
            <h1>My Services</h1>
            <h4>Client-focused, dynamic websites, high responsiveness and security that provides value and quality for beneficial business results.</h4>
        </div>


        <div id="big-container">
            <div id="grid-container">
                <div id="one"><img src="images/heroku.png" alt="heroku photo"></a></div>
                <div id="two"><img src="images/userfriendly.jpg" alt="user friendly photo"></a></div>
                <div id="three"><img src="images/webprogramming.jpg" alt="web programming photo"></a></div>
            </div>

            <div id="grid-container">
                <div id="one">Heroku</div>
                <div id="two">User friendly and responsiveness</div>
                <div id="three">Web Programming</div>
            </div>

        </div>
        
    </main>
    <%- include partials/footer.ejs%>
