/*--Ariel Chau Zhou
    COMP229 008 
    2022 Fall semester 
    Portafolio Project 
    #301151530   
    2022/10/11   */
*{
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
  
  }
  nav ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav li{
    list-style: none;
    padding-top: 7px;
    margin-right: 20px;
  
  }
  
  nav li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
  }
  nav li a:hover{
    color: orange;
  }
  .fa-solid{
    margin-right: 8px;
  }
  .logo{
    width: 55px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 60px;
  }
  
  .home{
    color: orange;
  }

  footer{
    position: relative;
    bottom: 0;
    width: 98%;
    height: 60px;
    font-size: 15px;
  
  }

#myWork{
    
    text-align: center;
}
#myWork h1{
    font-size: 40px;
    color: orange;
}
#myWork h4{
    font-size: 20px;
    color: white;
}
#grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 10px;
    margin-top: 10px;
    line-height: 27px;
    
}
#grid-container div{
  text-align: center;
  color: orange;
  font-weight: bold;
  font-size: 25px;
}
#grid-container div img{
    width: 100%;
}
#grid-container div img:hover{
    width: 600px;
}
#color{
    color: orange;
}
#grid-container div a img:hover{
    width: 650px;
}
 #big-container{
    margin-top: 80px;
 } 
  