*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;

}
nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
nav li{
  list-style: none;
  padding-top: 7px;
  margin-right: 20px;

}

nav li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}
nav li a:hover{
  color: orange;
}
.fa-solid{
  margin-right: 8px;
}
.logo{
  width: 55px;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 60px;
}
.home{
  color: orange;
}
#main-section{
  font-weight: bold;
  margin-top: 80px;
  font-size: 18px;
}
#main-section a{
  text-decoration: none;
  color: orange;
}
#welcoming{
  font-size: 40px;
 
}
#main-section button{
  font-size: 22px;
  background-color: white;
  border-radius: 7px;
  font-weight: bold;

}
#color{
  color: orange;
}
footer{
  position: fixed;
  bottom: 0;
  width: 98%;
  height: 60px;
  font-size: 15px;

}


